.display{
  text-align: center;
  color: red;
  margin-top: 400px;
}

.btns{
  text-align: center;
  letter-spacing: 20px;
}

body{
  background-image: url(./images/rm296-ning-08-f.jpg);
}

.btn1{
  width: 150px;
  height: 100px;
  border: none;
  border-radius: 30px;
  color: red;
}

.btn2{
  width: 150px;
  height: 100px;
  border: none;
  border-radius: 30px;
  color: red;
}



